@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-950: #1c202b;
  --color-navy-100: #dde7ee;
  --color-navy-50: #f7fafd;
  --color-gray-600: #5e6778;
  --color-gray-500: #939cad;
  --color-blue-950: #0a327b;
  --color-blue-100: #e5effa;
  --color-red-500: #f65552;
  --font-Plus-Jakarta-Sans: "Plus Jakarta Sans", "sans-serif";
}

:root {
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
}
